<div class="w-100 text-center" style="background-color: #F6E8EA;">
    <div class="container text-center">

        <div class="row">
            <div class="col-lg-12">
                <br>
                <a href="{% url 'home' %}" class="pink">
                    <h4><b>albiona.</b><h4>
                </a>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 mb-3 mb-md-0 d-flex justify-content-center align-items-center">
            
                <a href="https://www.linkedin.com/in/albiona-leka-93b39b24a/" class="footer-socials pink" target="_blank"> LINKEDIN </a>

            </div>

            <div class="col-md-4 mb-3 mb-md-0 d-flex justify-content-center align-items-center">
            
                <a href="https://github.com/albionaleka" class="footer-socials pink" target="_blank"> GITHUB </a>
                
            </div>

            <div class="col-md-4 mb-3 mb-md-0 d-flex justify-content-center align-items-center">

                <a href="mailto:albionaleka@gmail.com" class="footer-socials pink">EMAIL</a>

            </div>

        </div>

        <div class="row">
            <p class="pink">&copy; 2024 Albiona Leka. All rights reserved.</p>
        </div>

    </div>
</div>

