{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col-lg-6 mb-3 mb-lg-0 padding">
        <h3>Hello! My name is</h3>
        <h1 class="pink big"><b>Albiona Leka</b></h1>
        <p class="pink">SOFTWARE DEVELOPER</p>

        <p>I am a first year student, studying Information Technology. I am eager to learn and develop new skills in software development.<!--..<a href="#about" class="pink read"><span style="font-size: 115%;">Read More...<span></a>--></p>
        <br><br>

        <p><a href="https://www.linkedin.com/in/albiona-leka-93b39b24a/" class="socials" target="_blank"> LINKEDIN </a> | <a href="https://github.com/albionaleka" class="socials" target="_blank"> GITHUB </a></p>
      </div>

      <div class="col-lg-6 mb-3 mb-lg-0">
        <img src="{% static "img/pic.avif" %}" alt="Albiona" class="img-fluid round pic">
      </div>
    </div>
</div>
<br>

<div class="container">
    <div class="about rounded">
        <h1 id="about" class="pink text-center"><b>ABOUT ME</b></h1>
        <br>

        <p class="justify">
            Hello! I am a first year student studying Information Technology. I am eager to learn and develop new skills in software development. I have always been fascinated by how technology can change the way people live and work. My goal is to contribute to the development of cutting-edge software solutions that help businesses achieve their goals.
            <br><br>
            I am proficient in using various programming languages such as Python, JavaScript, and C#. I have experience with various software development frameworks such as Django, Flask, and React.js. I am also familiar with using version control systems like Git and have experience with cloud-based development platforms like GitHub.
            <br><br>
            I am always looking for opportunities to learn and grow in my field. I am excited to work on projects that will contribute to the development of  software solutions.
            <br><br>
            I am currently seeking a new opportunity to continue my education and develop my skills in software development.
            <br><br>
            I am open to discussing opportunities, projects, and career growth with anyone interested in software development. Feel free to reach out to me via <a href="mailto:albionaleka@gmail.com" class="pink"><b>Email</b></a>.
            <br><br>
            Thanks for taking the time to read about me!
            <br><br>
            <span class="pink"><b>- Albiona Leka</b></span>
            <br><br>
            <a href="{% static "cv/Albiona_Leka.pdf" %}" class="btn justify resume" target="_blank" download>My Resume</a>
            <a href="{% url 'projects' %}" class="btn justify resume">Projects</a>
        </p>
    </div>
</div>
<br><br>

<div class="container" id="skills">
    <h1 class="text-center"><b>SKILLS</b></h1>
    <br>

    <div class="row text-center">
        <div class="col-lg-6 mb-3 mb-lg-0 padding">
            <img src="{% static "img/comp.png" %}" alt="Woman on Computer" class="img-fluid skills-img">
        </div>
  
        <div class="col-lg-6 mb-3 mb-lg-0">
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-pink" style="width: 90%"></div>
            </div>
            <p class="justify">HTML & CSS</p>
            <br>

            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-pink" style="width: 85%"></div>
            </div>
            <p class="justify">Python</p>
            <br>

            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-pink" style="width: 50%"></div>
            </div>
            <p class="justify">JavaScript</p>
            <br>

            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-pink" style="width: 60%"></div>
            </div>
            <p class="justify">C#</p>
            <br>
            
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-pink" style="width: 70%"></div>
            </div>
            <p class="justify">SQL</p>
        </div>
      </div>
</div>
<br><br>

<div class="container" id="projects">
    <h1 class="text-center pink"><b>PROJECTS</b></h1>
    <br>

    <div class="container text-center">
        <div class="row">

            <div class="col-sm-4 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
            
                <div class="card card-no-bg d-flex justify-content-center align-items-center" style="width: 18rem;">
                    <img src="{% static "img/crm_1.jpeg" %}" class="card-img-top project-pic rounded" alt="...">
                    <div class="card-body">
                    <h5 class="card-title pink">CRM APP</h5>
                    <p class="card-text justify white">CRM app, that meets CRUD criteria. Technologies used: Django, HTML, Bootstrap, MySQL.</p>
                    <a href="https://github.com/albionaleka/django-crm" target="_blank" class="btn bg-pink">GitHub</a>
                    </div>
                </div>
                
            </div>

            <div class="col-sm-4 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">
            
                <div class="card card-no-bg d-flex justify-content-center align-items-center" style="width: 18rem;">
                    <img src="{% static "img/timetable_1.png" %}" class="card-img-top project-pic rounded" alt="...">
                    <div class="card-body">
                    <h5 class="card-title pink">TIMETABLE</h5>
                    <p class="card-text justify white">An app used to create students' timetables from a .csv file. Technologies used: Python and CustomTkinter.</p>
                    <a href="https://github.com/albionaleka/Timetable" target="_blank" class="btn bg-pink text-center">GitHub</a>
                    </div>
                </div>

            </div>

            <div class="col-sm-4 mb-3 mb-sm-0 d-flex justify-content-center align-items-center">

                <div class="card card-no-bg d-flex justify-content-center align-items-center" style="width: 18rem;">
                    <img src="{% static "img/portfolio_1.jpeg" %}" class="card-img-top project-pic rounded" alt="...">
                    <div class="card-body">
                    <h5 class="card-title pink">PORTFOLIO</h5>
                    <p class="card-text justify white">The web app you're viewing. Technologies used: Django framework, HTML, CSS and Bootstrap.</p>
                    <a href="https://github.com/albionaleka/Portfolio" target="_blank" class="btn bg-pink text-center">GitHub</a>
                    </div>
                </div>

            </div>

        </div>

        <a href="{% url 'projects' %}" class="btn bg-pink text-center">More Projects...</a>
    </div>
</div>
<br><br>

<div class="container" id="contact">
    <h1 class="text-center"><b>GET IN TOUCH</b></h1>
    <br>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="form" id="contactForm" style="width: 60%;">
            <form method="POST" >
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        Your Form Has Errors
                        {% for field in form %}
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                {{ form.as_p }}

                <button type="submit" class="btn bg-pink text-center">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}